.popup__error {
  color: #f00;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  position: absolute;
  top: 50%;
  left: 100%;
  padding: 15px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .06);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .1);
  z-index: 99;
  width: 240px;
  transform: translateY(-50%) translateX(15px);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease, transform .3s ease;
}

.popup__error::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -5px;
  background: #fff;
  width: 13px;
  height: 13px;
  transform: translateY(-50%) rotate(-45deg);
  z-index: -1;
}

@media screen and (max-width:767px){

  .popup__error {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    width: 100%;
    transform: translateY(0) translateX(0);    
    margin-top: 5px;
  }

  .popup__error::before{
    display: none;
  }

}